<section class="page-section section-get-started">
    <div class="container">
        <div class="row md-reverse">
            <div class="arch"></div>
            <div class="col col-img">
                <img class="img" src="/assets/footer-image.png" />
            </div>
            <div class="page-section__content col txt-md-center">
                <div class="mb-2">
                    <h2 class="section-title mb2 text--white">{{ site.t.ready_to_get_started }}</h2>
                    <a class="btn btn--lg btn--light" href="/contact/">{{ site.t.kickstart_your_future }}</a>
                </div>
                <div>
                    <img class="footer-logo" src="/assets/logo.svg" alt="{{ site.t.oenologic }}">
                    <div>
                        <img class="mb-1" src="/assets/app-store.svg" alt="{{ site.t.coming_soon_ios }}" />
                        <img class="mb-1" src="/assets/google-play.svg" alt="{{ site.t.coming_soon_android }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>