.site-header {
    background: #fff;

    .demo-btn {
        display: none;
    }
}

.site-header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 50px;
    margin: 0 auto;
    padding: 0 25px;
    align-items: center;
}

.site-logo {
    width: 110px;
    display: block;
}

.site-nav {
    display: none;
}

@media (min-width: $md-breakpoint){
    .site-header__content {
        height: 0;
        min-height: 6.25rem;
        padding: 0 1.25rem;
        align-items: center;
    }

    .site-logo {
        width: 12.5rem;
    }

    .site-nav {
        margin-left: auto;
        display: block;
    }

    // body.lang-fr {
    //     .site-logo {
    //         margin-left: 180px;
    //     }
    // }

    // body.lang-fr {
    //     .site-nav {
    //         margin-left: 170px;
    //     }
    // }
    
    // .site-header {
    //     .demo-btn {
    //         display: inherit;
    //     }
    // }

    // .site-header__content {
    //     flex-direction: row-reverse;
    // }
}