.split-panel {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - #{$lms-header-height});
    padding: 0;
    margin-top: $lms-header-height;

    &__main {
        padding: 2rem 20px 4rem 20px;
    }

    &__sidebar {
       img {
           max-width: 100%;
           width: 100%;
       } 
    }
    
    @media (min-width: $sm-breakpoint) {
        flex-direction: row;
        &__main {
            padding-top: 3rem;
            width: calc(100% - 350px);
        }

        &__sidebar {
            width: 350px;
            background: $shadows;
        }
    }

    @media (min-width: $md-breakpoint) {
        min-height: calc(100vh - #{$lms-header-height-md});
        margin-top: $lms-header-height-md;
    }

    @media (min-width: $lg-breakpoint) {
        &__main {
            width: calc(100% - 580px);
        }

        &__sidebar {
            width: 580px;
            background: $shadows;
        }
    }
}