.module-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.module-detail {
    display: flex;
    align-items: center;
    font-size: 0.75rem;

    svg {
        width: 16px;
        height: 16px;
        fill: $primary;
        margin-right: 0.5rem;
    }
}