.lesson-list {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    .lesson-item {
        margin-bottom: 1rem;
        width: 100%;
    }
}

.lesson-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.75rem 0.75rem;
    box-shadow: inset 0 0 0 1px $plum;
    border-radius: 4px;

    &__title.h4 {
        width: 100%;
        margin-bottom: 0.25rem;
    }
    
    &--active {
        cursor: pointer;
        
        &:hover {
            box-shadow: inset 0 0 0 1px $orange;
        }
    }

    &--inactive {
        .lesson-item__status {
            color: $plum;
        }
    }

    @media (min-width: $md-breakpoint) {
        padding: 1rem 1.5rem;

        &__title.h4 {
            margin-bottom: 0;
            width: auto;
        }
    }
}

.lesson-item-detail {
    width: 120px;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    font-family: 'eina04w03-lightregular', sans-serif;

    svg {
        width: 15px;
        height: 15px;
        margin-right: 0.5rem;
    }

    &:last-child {
        width: 88px;
    }

    @media (min-width: $md-breakpoint) {
        margin-left: auto;

        &:last-child {
            margin-left: 50px;
        }
    }
}