.page-publications {
    .page-header {
        &:after {
            background: url('../assets/home-hero.jpg') $midnight;
        }
    }

    .page-content {
        overflow-x: visible;
    }

    .page-section {
        margin: -4rem 0 6rem 0;
        padding: 2rem;
        border-radius: 0.625rem;
        background: $white;
        box-shadow: 0 90px 115px -25px rgba(0,0,0,0.15);
    }

    .publication {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        &-img {
            width: 100%;
            margin-bottom: 1rem;
        }

        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (min-width: $md-breakpoint) {
    .page-publications {
        .page-header {
            padding: 16rem 0;
        }

        .page-section {
            padding: 6.25rem;
        }

        .publications {
            display: flex;
            margin: 0 -2rem;
            
            .publication {
                margin: 0 2rem;
                width: 50%;
            }
        }
    }
}