.page-home {
    .page-header {
        &:after {
            z-index: -1;
            background: url('../assets/home-hero.jpg') $midnight;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center bottom;
        }

        &__content {
            padding-right: 40%;
            margin-top: 0;
        }

        .page-title {
           margin-bottom: 1.5625rem;
        }
    }

    .page-content {
        padding-bottom: 4rem;
        overflow-y: hidden;
    }

    .col-img {
        .img {
            overflow: hidden;
            margin-bottom: 2rem;
            width: 100%;
            padding-bottom: 100%;
            position: relative;

            img {
                position: absolute;
                top: 0%;
                left: 0;
                transform-origin: top left;
                width: auto;
                max-width: none;
                height: 100%;
            }
        }
    }

    .section-deep-learning {
        padding-bottom: 0;

        .dots {
            top: -3rem;
            right: 0rem;
            transform: translateX(100%);
        }
    }

    .section-data {
        .col-img {
            .img {
                border-radius: 6rem 0.5rem 0.5rem 0.5rem;

                img {
                    left: -10%;
                }
            }
        }

        .data-point {
            position: relative;
            margin-bottom: 2rem;
            
            &__title {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                h4 {
                    margin-bottom: 0;
                }
            }

            &__img {
                margin-right: 1rem;
            }
        }

        .dots {
            bottom: 0;
            left: 6.25rem;
            transform: translateY(-50%);
        }
    }

    .section-technology {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .dots {
            bottom: 0;
            right: 0;
            transform: translate(40%, 5%);
        }
    }

    .section-clients {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .dots {
            bottom: 0;
            left: 0;
            transform: translate(-60%, -20%);
        }
    }

    .section-experts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative; 
        z-index: 0;

        .container {
            z-index: 1;
        }

        .col-img {
            .img {
                overflow: hidden;
                border-radius: 0.5rem 6rem 0.5rem 0.5rem;

                img {
                    left: -10%;
                }
            }
        }

        .btn {
            font-size: 1rem;
            padding: 0 2.5rem;
            min-width: 11.5625rem;
        }
    }

    .feature-blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;

        .feature-block {
            width: calc(50% - 1.25rem);
            margin: 0 0.625rem 1.25rem 0.625rem;
        }
    }
}

@media (max-width: $md-breakpoint-max) {
    .page-home {
        .page-header {
            &__content {
                text-align: center;
                max-width: 100%;
                padding-right: 0;
            }
        }
        
        .section-technology {
            .video-container {
                border-radius: 0;
                width: calc(100% + 2.5rem);
            }
        }

        .section-experts {
            text-align: center;
        }
    }
}
 
@media (min-width: $md-breakpoint) {
    .page-home {
        .section-technology {
            .section-title {
                max-width: 75%;
            }
        }

        .section-data {
            .data-point {
                position: relative;
                margin-bottom: 2rem;
    
                &__title {}
    
                &__img {
                    position: absolute;
                    transform: translateX(-3rem - 1.875rem);
                    top: -0.5rem;
                }
            }
        }

        .section-experts {
            .col-desc {
                padding-top: 4rem;
            }
        }

        .feature-blocks {
            .feature-block {
                width: calc(18.25rem - 1.25rem);
                margin: 0 0.625rem 1.25rem 0.625rem;
            }
            
        }

        .col-desc {
            padding-left: calc(8.333% + 0.625rem);
        }
    }
}

.feature-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow-lg;
    border-radius: $border-radius-lg;
    padding: 1.25rem;
    max-width: 17.5rem;
    background: $white;

    &__title {
        margin: 0;
        font-size: 0.875rem;
    }

    &__img {
        width: 3.75rem;
        margin-bottom: 1rem;
    }
}

@media (min-width: $md-breakpoint) {
    .feature-block {
        padding: 2.5rem;

        &__title {
            margin: 0;
            font-size: 1rem;
        }

        &__img {
            width: 6.875rem;
        }
    }
}

.video-container {
    position: relative;
    padding-bottom: 54.24%;
    width: 100%;
    border-radius: $border-radius-lg;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        // transform: translateY(-50%);
    }
}

.dots {
    flex: none;
    position: absolute;
    z-index: -1;
    width: 12.5rem;
}