.page-publication {
    .page-header {
        background: rgba($navy, 0.8);

        &:after {
            background: url('../assets/publications-hero.jpg') $midnight;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }
}

@media (min-width: $md-breakpoint) {
    .page-publication {
        .page-header {
            &__content {
                margin-top: 0;
            }
        }
    }
}

.news-item {
    padding: 3.125rem 2rem;
    border-radius: 0.625rem;
    box-shadow: $box-shadow;
    margin-bottom: 4rem;

    &:last-child {
        margin-bottom: 0;
    }

    &-title {
        margin-bottom: 0;
    }

    &-date {
        color: $gray-light;
    }
}

@media (min-width: $md-breakpoint) {
    .news-item {
        padding: 3.125rem 6.25rem;
        margin-bottom: 6.875rem;
    }
}