.page-publications {
    .page-header {
        background: rgba($navy, 0.8);

        &:after {
            background: url('../assets/publications-hero.jpg') $midnight;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .page-content {
        overflow-x: visible;
    }

    .page-section {
        margin: -3.75rem 0 6rem 0;
        padding-top: 0;
    }

    .publication {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        &-img {
            width: 100%;
            margin-bottom: 1rem;
        }

        &-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

@media (min-width: $md-breakpoint) {
    .page-publications {
        .page-header {
            padding: 16rem 0;
        }

        // .page-section {
        //     padding: 6.25rem;
        // }

        .publications {
            display: flex;
            margin: 0 -2rem;
            
            .publication {
                margin: 0 2rem;
                width: 50%;
            }
        }
    }
}