.page-publication {
    .page-header {
        background: rgba($navy, 0.8);

        &:after {
            background: url('../assets/publications-hero.jpg') $midnight;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .publication-header__footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1rem;
    }

    .publication-download {
        svg {
            vertical-align: middle;
            fill: $primary;
            width: 1.25rem;
            height: 1.25rem;
            margin-right: 0.5rem;
        }
    }

    .publication-date {
        color: $white;
    }
}

@media (min-width: $md-breakpoint) {
    .page-publication {
        .page-header {
            &__content {
                margin-top: 0;
            }
        }

        .publication-header__footer{
            flex-direction: row;
            justify-content: space-between;
        }
    }
}