.page {
    .page-subtitle {
        font-family: 'CircularStd-Book', sans-serif;
        font-size: 1.25rem;
        line-height: 1.25;
        color: $white;
        
        @media (min-width: $md-breakpoint) {
            font-size: 1.5rem;
        }
    }
}

@media (min-width: $md-breakpoint) {
}