.page-team {
    .page-header {
        &:after {
            background: url('../assets/team-hero.jpg') $midnight;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 25% center;
        }
    }

    .section-team-members {
        padding-top: 3.125rem;

        .team-member {
            margin-bottom: 3.125rem;

            &:last-child {
                margin-bottom: 0;
            }

            p:last-child {
                 margin-bottom: 0;
            }
        }
    }
}

@media (min-width: $md-breakpoint) {
    .page-team {
        .page-header {
            &:after {
                background-position: center center;
            }
        }

        .section-team-members {
            padding-top: 7.5rem;

            .team-member {
                margin-bottom: 7.5rem;

                &:nth-child(even) {
                    flex-direction: row-reverse;

                    .team-member-bio {
                        padding: 4rem 2.5rem 0 0;
                    }

                    .team-member-img {
                        border-radius: 6rem 0.5rem 0.5rem 0.5rem;
                    }
                }
            }
        }
    }
}